<div class="container wrapper">
  <div class="row">
    <div class="col mt-5">
      <div class="grid-container">
        <div class="grid-item" [ngClass]="slot.bookingStatusCode === 0 ? 'booked-slots' : 'available-slots'"
          *ngFor="let slot of slotsRowOne" (click)="onSlotClick(slot)"
          [ngStyle]="{'cursor': slot.bookingStatusCode === 0 ? 'not-allowed' : 'pointer'}">{{slot.slotNumber}}</div>
      </div>
      <div class="grid-container">
        <div class="grid-item" [ngClass]="slot.bookingStatusCode === 0 ? 'booked-slots' : 'available-slots'"
          *ngFor="let slot of slotsRowTwo" (click)="onSlotClick(slot)"
          [ngStyle]="{'cursor': slot.bookingStatusCode === 0 ? 'not-allowed' : 'pointer'}">{{slot.slotNumber}}</div>
      </div>

    </div>

  </div>
  <div class="row p-2">
    <div class="col  boxes">
      <div class="container">
        <div class="jumbotron pt-3">
          <!-- TODO: Read this content from JSON -->
          <h3>Parking Charges</h3>
          <p>First 4 hrs – 200 INR</p>
          <p>4 hrs to 12 hrs – 30 INR per hour</p>
          <p>12 hrs to 24 hrs – 25 INR per hour</p>
        </div>
      </div>
    </div>
    <div class="col boxes">
      <div class="container">
        <div class="jumbotron pt-3">
          <h3>Slot Details</h3>
          <p>Slot : {{this.selectedSlot?.slotNumber || 0}}</p>
          <form>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-4 col-form-label">Duration</label>
              <div class="col-sm-6">
                <input type="text" class="form-control-plaintext" id="duration" [formControl]="duration"
                  (keyup)="onDurationChange()">
                <div *ngIf="duration?.dirty && duration?.invalid">
                  <span class="errorMsg" *ngIf="duration?.errors?.['pattern']">* Invalid
                    Format</span>
                  <span class="errorMsg" *ngIf="duration?.errors?.['required']">* Mandatory
                    field</span>
                  <span class="errorMsg" *ngIf="duration?.errors?.['max']">* Maximum duration is 24 hours</span>
                  <span class="errorMsg" *ngIf="duration?.errors?.['min']">* Minimum duration is 1 hour</span>
                </div>
              </div>
              <div class="col-sm-2">
                Hours
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col boxes">
      <div class="container">
        <div class="jumbotron pt-3">
          <h3>Payment Details</h3>
          <p>Amount: {{charge}} INR</p>
          <!-- <a href="#" class="btn btn-info btn-lg">Book your Slot</a> -->
          <button type="button" class="btn btn-info btn-lg" (click)="submit()" [disabled]="isInvalid">Book your
            Slot</button>
        </div>

      </div>
    </div>
  </div>
</div>