<ng-container>
    <div class="mb-3 row">
        <label class="col-sm-4 col-form-label">Amount</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" placeholder="Amount" [formControl]="amount">
        </div>
    </div>
    <p><b>Keep the cash at then marked spot and click the 'Pay' button below</b></p>
    <div class="d-grid gap-2 ">
        <button class="btn btn-primary" *ngIf="!isProcessing" type="button" (click)="makePayment()"
            style="margin-top: 1em;">Make
            Payment</button>
        <p *ngIf="isProcessing"><b>Please wait...</b></p>
    </div>
    <br />
</ng-container>