<div class="wrapper">
    <div id="formContent">
        <h2 class="align-items-center mt-5">{{configuration?.['title']}}</h2>
        <form [formGroup]="form" novalidate *ngIf="form">
            <!-- ----------------------------------- dynamic format --------------------------------- -->
            <ng-container *ngFor="let field of form?.controls | keyvalue : returnZero; let i=index;">
                <ng-container *ngIf="fields?.[i].fieldType === 'text'">
                    <div class=" row align-items-center rgform">
                        <div class="col-6">
                            <label for="{{field.key}}" class="col-form-label">{{fields?.[i].displayName}}&nbsp;<span
                                    style="color: red;" *ngIf="fields?.[i].isMandatory">*</span></label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="{{field.key}}" name="{{field.key}}" formControlName="{{field.key}}"
                                class="form-control">
                            <div *ngIf="form?.get(field.key)?.dirty && form?.get(field.key)?.invalid">
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.hasError('minlength')">* Minimum
                                    {{form.get(field.key)?.errors?.['minlength']?.['requiredLength']}}
                                    characters required</span>
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.hasError('maxlength')">* Maximum
                                    {{form.get(field.key)?.errors?.['maxlength']?.['requiredLength']}}
                                    character allowed</span>
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.hasError('pattern')">* Invalid
                                    Format</span>
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.hasError('required')">* Mandatory
                                    field</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="fields?.[i].fieldType === 'email'">
                    <div class=" row align-items-center rgform">
                        <div class="col-6">
                            <label for="{{field.key}}" class="col-form-label">{{fields?.[i].displayName}}&nbsp;<span
                                    style="color: red;" *ngIf="fields?.[i].isMandatory">*</span></label>
                        </div>
                        <div class="col-6">
                            <input type="email" id="{{field.key}}" name="{{field.key}}" formControlName="{{field.key}}"
                                class="form-control">
                            <div *ngIf="form?.get(field.key)?.dirty && form?.get(field.key)?.invalid">
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.errors?.['minlength']">* Minimum 2
                                    characters required</span>
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.errors?.['maxlength']">* Maximum 25
                                    character allowed</span>
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.errors?.['email']">* Invalid
                                    Format</span>
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.errors?.['required']">* Mandatory
                                    field</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="fields?.[i].fieldType === 'select'">
                    <div class=" row align-items-center rgform">
                        <div class="col-6">
                            <label for="plateType" class="col-form-label">{{fields?.[i].displayName}}&nbsp;<span
                                    style="color: red;" *ngIf="fields?.[i].isMandatory">*</span></label>
                        </div>
                        <div class="col-6">
                            <select name="{{field.key}}" id="{{field.key}}" class="form-control"
                                formControlName="{{field.key}}">
                                <option *ngFor="let type of fields?.[i].options;" [value]="type.type">
                                    {{type.displayName}}
                                </option>
                            </select>
                            <div *ngIf="form?.get(field.key)?.dirty && form?.get(field.key)?.invalid">
                                <span class="errorMsg" *ngIf="form?.get(field.key)?.errors?.['required']">* Mandatory
                                    field</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <!-- ----------------------------------- dynamic format-end --------------------------------- -->

            <div class="row align-items-center rgform">
                <button class="btn btn-primary" type="button" (click)="submit()"
                    [disabled]="form.invalid">Register</button>
            </div>
            <div class="row align-items-center rgform">
                <a routerLink="/login" routerLinkActive="active">Login</a>
            </div>
        </form>

    </div>
</div>