<div style="text-align: center; border-radius: 1em;">

    <ng-container #container></ng-container>

    <ng-template #cash>
        <app-payments-cash (complete)="onPaymentComplete($event)"></app-payments-cash>
    </ng-template>

    <ng-template #card>
        <app-payment-card (complete)="onPaymentComplete($event)"></app-payment-card>
    </ng-template>

    <div style="align-items: end;">
        <p>Please select your mode of payment:</p>
        <label for="cash">Cash</label>
        <input type="radio" id="cash" name="paymentMode" value="1" [formControl]="paymentMode" (change)="setMode()">&nbsp;&nbsp;
        <label for="card">Card</label>
        <input type="radio" id="card" name="paymentMode" value="2" [formControl]="paymentMode" (change)="setMode()">
    </div>
</div>