<div class="row modalbody">
    <div class="kb-row">

        <button class="btn btn-dark" type="button" *ngFor="let key of numericKeys; trackBy: trackByFn"
            (click)="onClick(key.value)">{{key.displayName}}</button>
    </div>
    <div class="kb-row">

        <button class="btn btn-dark" type="button" *ngFor="let key of aplhaKeyRowOne; trackBy: trackByFn"
            (click)="onClick(key.value)">{{key.displayName}}</button>
    </div>
    <div class="kb-row">
        <button class="btn btn-dark" type="button" *ngFor="let key of aplhaKeyRowTwo; trackBy: trackByFn"
            (click)="onClick(key.value)">{{key.displayName}}</button>
    </div>
    <div class="kb-row">
        <button class="btn btn-dark" type="button" *ngFor="let key of aplhaKeyRowThree; trackBy: trackByFn"
            (click)="onClick(key.value)">{{key.displayName}}</button>
    </div>
    <div class="kb-row">
        <button class="btn1 btn-dark" type="button" (click)="onClick(' ')"> spacebar </button>
    </div>

</div>